@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 15px;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table,
th,
td {
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid #ddd;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

input[type="submit"] {
  background-color: #15406a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #15406a;
  color: blue;
}

label[for="agree"] {
  width: 50%;
  display: inline;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 30px;
}